.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .menu {
    display: "block";
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    width: 30px;
  }
  
  .bar {
    background-color: #fff;
    height: 3px;
    width: 100%;
  }