.contenidoAlmacenamiento {
    padding: 0 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
    gap: 5rem;
    margin-bottom: 4rem;
}

h1 {
    grid-area: 1 / 1 / 1 / 3;
    padding-bottom: 2rem;
}

.historialConsumo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.historialConsumo form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.historialConsumo form input {
    width: 100%;
    padding: 10px;

    border: 1px solid #6BA7B5;
    background-color: #000808;
    border-radius: 10px;
    outline: none;
    color: white;
    color-scheme: white;
    font-size: 1.2rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) hue-rotate(180deg);
}

.estadoActual{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.estadoActual button{
    margin-left: 170px;
}
.estadoActualDatos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.nivelGrafico{
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    height: 10px;
}
.nivelGrafico .nivel{
    width: 100%;
    height: 100%;
    background-color: #6BA7B5;
    border-radius: 50px;
}

.estado{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.estado form{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.tablaConsumo{
    grid-column: 1/3;
}
table{
    width: 100%;
}
tr{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    background-color: #000f0f;
}
tr.num1{
    background-color: #001919;
}
.barra {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
  }
  
  .relleno {
    height: 100%;
    background-color: #00b894;
    transition: width 0.3s ease-in-out;
  }



  .foquitoBomba {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .foquitoPrincipal {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .foquito1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .foquito2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .foquito3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .texto {
    font-size: 12px;
  }

  .acomodo {
    align-items: center;
    text-align: center;
  }
  