* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  cursor: default;
}

body {
  background-color: #000808;
  color: white;
  font-weight: 300;
  font-size: 18px;
}

button {
  background-color: #456C75;
  border: none;
  border-radius: 10px;

  color: white;
  font-weight: 500;
  cursor: pointer;

  padding: 1rem 0;
  width: 100px;
}
button:hover{
  background-color: #3a5a61;
}

input{
  cursor: pointer;
}